---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: false
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer" >my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Peer-reviewed Papers</h2>
<ol reversed>
<li><strong>Lin, Y.</strong>,  & Zhao, L., 2024. Upper-mantle anisotropy in the southeastern margin of Tibetan Plateau revealed by fullwave SKS splitting intensity tomography. <strong>Journal of Geophysical Research: Solid Earth</strong>, 129(3), e2023JB027629. [<a href="https://doi.org/10.1029/2023JB027629" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lin, Y.</strong>,  & Zhang, J., 2022. A multispectral denoising framework for seismic random noise attenuation. <strong>IEEE Transactions on Geoscience and Remote Sensing</strong>, 60, 1–17. [<a href="https://doi.org/10.1109/TGRS.2020.3047633" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Li, C., <strong>Lin, Y.</strong>, Lv, W., & Zhang, J., 2021. Eliminating above-surface diffractions from ground-penetrating radar data using iterative Stolt migration. <strong>Geophysics</strong>, 86(1), H1–H11. [<a href="https://doi.org/10.1190/geo2019-0796.1" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Zhang, J., Zhou, B., Lin, Y., Zhu, M-H., Song, H., Dong, Z., Gao, Y., Di, K., Yang, W., Lin, H., Yang, J., Liu, E., Wang, L., <strong>Lin, Y.</strong>, Li, C., Yue, Z., Yao, Z., Ouyang, Z. 2021. Lunar regolith and substructure at Chang’E-4 landing site in South Pole-Aitken basin.<strong>Nature Astronomy</strong>, 5(1), 25-30. [<a href="https://doi.org/10.1038/s41550-020-1197-x" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lin, Y.</strong>, & Zhang, J. 2020. Progressive denoising of seismic data via robust noise estimation in dual domains. <strong>Geophysics</strong>, 85(1), V99–V118. [<a href="https://doi.org/10.1190/geo2019-0010.1" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lin, Y.</strong>, Hao, J., Miao, Z., Zhang, J., & Yang, W. 2020. NanoSIMS image enhancement by reducing random noise using low rank method. <strong>Surface and Interface Analysis</strong>, 52(5), 240–248.  [<a href="https://doi.org/10.1002/sia.6736" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Sun, W., Fu, L., Wei, W., <strong>Lin, Y.</strong>, Tang, Q. 2018. The crust-mantle transition structures beneath eastern China. <strong>Chinese Journal of Geophysics</strong>, 61(3):845-855.  [<a href="http://www.geophy.cn/en/article/doi/10.6038/cjg2018L0551?viewType=HTML" target="_blank" rel="noopener noreferrer">Link</a>]</li>
</ol>

<h2>Selected Conference Abstracts and Posters</h2>
<ol reversed>
<li>Suwen, J., <strong>Lin, Y.</strong>, Li Zhao, & Chen, Q.-F., 2023.  Full-wave anisotropy tomography for the upper mantle of Northeast China using SKS splitting intensities. In EGU (European Geosciences Union) Annual Meeting Abstracts.</li>
<li><strong>Lin, Y.</strong>, & Zhao, L., 2021. Full-wave upper-mantle anisotropy tomography for the southeastern margin of the Tibetan Plateau using SKS splitting intensity data. In AGU Annual Meeting Abstracts.</li>
<li><strong>Lin, Y.</strong>, & Zhao, L., 2021. Full wave multiscale tomography for the upper mantle anisotropy under Sichuan Yunnan, China. In 37th General Assembly of the European Seismological Commission.</li>
</ol>

</p> 